.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: bgShift 10s ease infinite;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes bgShift {
  0% {
    background: linear-gradient(135deg, #ff6a00, #f3ff18ff);
  }
  50% {
    background: linear-gradient(155deg, #1da2d6, rgb(251, 82, 4));
  }

  100% {
    background: linear-gradient(155deg, #d61d30, rgb(4, 251, 90));
  }
}
